---
- name: Install apache2 package
  apt:
    name: apache2
    state: present

- name: Start and enable apache2
  ansible.builtin.systemd:
    name: "apache2.service"
    state: started
    enabled: true

# config is missing, please send MR ;)
