---
- name: Install package dependencies
  ansible.builtin.apt:
    pkg: "{{ jellyfin_package_dependencies | list }}"
    state: present

- name: Create Jellyfin unix group
  ansible.builtin.group:
    name: "{{ jellyfin_unix_group }}"
    state: present

- name: Create Jellyfin unix user
  ansible.builtin.user:
    name: "{{ jellyfin_unix_user }}"
    group: "{{ jellyfin_unix_group }}"
    state: present
    shell: /bin/false

- name: Create dirs owned by Jellyfin user
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ jellyfin_unix_user }}"
    group: "{{ jellyfin_unix_group }}"
    mode: "0755"
  loop:
    - "{{ jellyfin_cache_dir }}"
    - "{{ jellyfin_data_dir }}"
    - "{{ jellyfin_log_dir }}"
    

- name: Create dirs owned by root
  ansible.builtin.file:
    path: "{{ jellyfin_config_dir }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
