---
- name: Install package dependencies
  ansible.builtin.apt:
    pkg: "{{ jellyfin_package_dependencies | list }}"
    state: present

- name: Create Jellyfin unix group
  group:
    name: "{{ jellyfin_unix_group }}"
    state: present

- name: Create Jellyfin unix user
  user:
    name: "{{ jellyfin_unix_user }}"
    group: "{{ jellyfin_unix_group }}"
    state: present
    shell: "/bin/false"

- name: Create dirs owned by Jellyfin user
  ansible.builtin.file:
    path:
      - "{{ jellyfin_cache_dir }}"
      - "{{ jellyfin_data_dir }}"
      - "{{ jellyfin_log_dir }}"
    state: directory
    owner: "{{ jellyfin_unix_user }}"
    group: "{{ jellyfin_unix_group }}"
    mode: "0755"

- name: Create dirs owned by root
  ansible.builtin.file:
    path:
      - "{{ jellyfin_config_dir }}"
    state: directory
    owner: "root"
    group: "root"
    mode: "0755"
