#
# {{ ansible_managed }}
#

# Program directories
JELLYFIN_DATA_DIR="{{ jellyfin_data_dir }}"
JELLYFIN_CONFIG_DIR="{{ jellyfin_config_dir }}"
JELLYFIN_LOG_DIR="{{ jellyfin_log_dir }}"
JELLYFIN_CACHE_DIR="{{ jellyfin_cache_dir }}"

# web client path, installed by the jellyfin-web package
JELLYFIN_WEB_OPT="--webdir={{ jellyfin_web_bin }}"

# ffmpeg binary paths, overriding the system values
JELLYFIN_FFMPEG_OPT="--ffmpeg={{ jellyfin_ffmpeg_bin }}"

# Disable glibc dynamic heap adjustment
MALLOC_TRIM_THRESHOLD_={{ jellyfin_malloc_trim_threshold | int }}

{% if jellyfin_service is defined %}
# [OPTIONAL] run Jellyfin as a headless service
JELLYFIN_SERVICE_OPT="{% if jellyfin_service | bool %}--service{% endif %}"
{% endif %}

{% if jellyfin_nowebapp is defined %}
# [OPTIONAL] run Jellyfin without the web app
JELLYFIN_NOWEBAPP_OPT="{% if jellyfin_nowebapp | bool %}--nowebclient{% endif %}"
{% endif %}

# Space to add additional command line options to jellyfin (for help see ~$ jellyfin --help)
JELLYFIN_ADDITIONAL_OPTS="{{ jellyfin_additional_opts }}"

{% if jellyfin_complus_gcserver is defined and jellyfin_complus_gcserver != "" %}
COMPlus_gcServer={{ jellyfin_complus_gcserver | int }}
{% endif %}

