# Pushes a Ansible role to Ansible Galaxy

name: Ansible Galaxy Push Role

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  ansible_galaxy_push_role:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: Push to Galaxy
        run: ansible-galaxy role import sleepy-nols ansible-jellyfin --branch main --token ${{ secrets.ANSIBLE_GALAXY_API_KEY }}
